#root {
    display: flex;
    flex-direction: column;
}

#topBanner {
    display: flex;
    flex-direction: row;
    background-color: #2B2B2B;
    align-items: center;
}

#jobSeekerQuestion {
    padding: 100px;
}

#employerQuestion {
    padding: 100px;
}

#promotionalImage {
    padding-left: 75px;
    padding-right: 65px;
}

h3 {
    text-align : center;
    color: #3CC139;
}

#middleBanner {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 50px;
}

#easyApplyPromotion {
    padding-top: 30px;
    padding-bottom: 30px;
}

#easyApplyFeatures {
    padding: 30px;
}

#easyApplySignUp {
    padding: 30px;
}

h4 {
    text-align: center;
}

p {
    text-align: center;
}

Button {
    background-color: #3CC139;
}

#bottomBanner {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #2B2B2B;
}

#testimonials {
    padding-left: 30px;
    color: #3CC139;
}

#testimonial1 {
    padding: 30px;
    color: #3CC139;
}

#testimonial2 {
    padding: 30px;
    color: #3CC139;
}

#testimonial3 {
    padding: 30px;
    color: #3CC139;
    align-items: center;
}